.wrapper {
  margin: 0 auto;
  min-width: 150px;
  max-width: 500px;
}

.search-form {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.search-result {
  margin-top: 40px;
}

.input-full-width {
  width: 100%;
}
